@tailwind base;
@tailwind components;
@tailwind utilities;

/* Дополнительные стили, если нужны */
@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html.dark {
  background-color: #1f2937; /* gray-900 */
  color: #f3f4f6; /* gray-100 */
}